.add-score__holes {
  padding-top: 1rem;
}

.add-score__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6rem 0;
}

.add-score__buttons {
  margin: auto;
  width: 25%;
}

md-input-container {
  padding: 0;
  padding-bottom: 0;
}
