.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $brand-green;
  color: $brand-white;
}

.footer__row {
  display: flex;
  width: 30%;
  justify-content: center;
  margin: auto;
}
