.scores {
  margin: 2rem 0;
}

.score-item {
  display: flex;
  position: relative;
  margin: 2rem 1rem;

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.score-item__title {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__totalscore {
    font-size: 32px;
  }
}

.score-item__title__optionalstats {
  display: flex;
  width: 100%;
  align-items: center;
}

.optionalstats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  font-size: 12px;
}

.score-item__holes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.score-item__hole {
  min-width: calc(100% / 9 - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}

.score-delete-button {
  position: absolute;
}
