.scores {
  margin: 0.6rem 0;
}

.score-item {
  display: flex;
  position: relative;
  margin: 2rem 1rem;

  &:first-of-type {
    margin: -0.6rem 1rem 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.score-item__title {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $brand-green;

  &__totalscore {
    font-size: 32px;
  }
}

.score-item__title__optionalstats {
  display: flex;
  width: 100%;
  align-items: center;
  color: $brand-black;
}

.optionalstats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  font-size: 12px;
}

.score-item__holes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.score-item__hole {
  min-width: calc(100% / 9 - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}

.score-delete-button {
  position: absolute;
}

.score-item__course {
  display: flex;
  justify-content: space-around;
  color: $brand-green;
  font-weight: bold;

  &-info {
    display: flex;
  }
}

.score-item__course-info__item {
  margin: 0 1rem;
}

.history-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.back-btn {
  margin-left: 1rem;
  margin-top: 1rem;
}
