.scores {
  margin: 2rem 0;
}

.score-item {
  display: flex;
  margin: 2rem 1rem;

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.score-item__title {
  width: 20%;
}

.score-item__holes {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.score-item__hole {
  min-width: calc(100% / 9 - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
