.user-info {
  display: flex;
  margin: 0;
  width: 100%;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0.5rem;
    width: 80%;
  }
}

.user-bio {
  cursor: pointer;
  border: 0;
  outline: none;
  width: 80%;
  resize: none;
}

.avatar {
  width: 20%;
  margin: 1rem 0 0 0.5rem;

  &-img {
    width: 100%;
    box-shadow: 1px 1px 10px black;

  }
}

.user-options {
  display: flex;
}

.handicap-score {
  font-size: 5rem;
}

.main {
  width: 100%;
  display: flex;
  margin: 2rem 0 0;
}

.sidebar {
  width: 10%;
  margin: 0.5rem;
}

.search-input {
  width: 20%;
}
