.user-info {
  display: flex;
  margin: 1rem 0;
  width: 100%;

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0.5rem;
    width: 80%;
  }
}

.user-bio {
  cursor: pointer;
  border: 0;
  outline: none;
  width: 80%;
  resize: none;
}

.avatar {
  width: 20%;

  &-img {
    width: 100%;

  }
}

.handicap-score {
  font-size: 5rem;
}

.main {
  width: 100%;
  display: flex;
  margin: 2rem 0;
}

.sidebar {
  width: 18%;
}

.scores-box {
  width: 80%;
}
