.register-title {
  text-align: center;
}

.register-form {
  width: 50%;
  margin: auto;
}

.register-buttons {
  display: flex;
  justify-content: center;
}

.login-title {
  text-align: center;
}

.login-form {
  width: 50%;
  margin: auto;
}

.login-buttons {
  display: flex;
  justify-content: center;
}
