$base-background-color: rgba(0, 0, 0, 0.7);

@import 'ember-paper';
@import 'brand';
@import "top-nav";
@import "footer";
@import "home-user";
@import "add-score";
@import "history";
@import "friend-box";
@import "scores-box";
@import "comment-box";
@import "edit-profile";
@import "courses";


html {
  background: $base-background-color;
}

body {
  height: auto;
  background: transparent;

  margin: 0;
}


ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0px 0px 30px black;
  background: $brand-white;
}

// placeholder
md-input-container.md-default-theme label, md-input-container.md-default-theme .md-placeholder {
 color: black;
}

// label after done typing
md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label {
 color: $brand-green;
}

// label while typing
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label {
 color: $brand-green;
}

// underline while the input is active
md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input {
 border-color: $brand-green;
}

// input text
md-input-container.md-default-theme .md-input {
 color: $brand-black;
 border-color: $brand-green;
}
