<div class="container">
  <h4>Enter your updated information below:</h4>
  {{#simple-form class="edit-profile-form" onsubmit=(action editProfile model) as |formValues|}}
    {{input type="url" placeholder="Photo URL" value=formValues.avatar}}
    {{textarea placeholder="Bio" value=formValues.bio}}
    {{#paper-button raised="true"}}Submit{{/paper-button}}
  {{/simple-form}}
</div>

{{outlet}}
