<div class="container">
  <h4 class="container-title">
    Login or Register above to start tracking your stats!
  </h4>
  <ul class="site-features">
    <li class="site-features-item">
      <h5 class="site-features-title">
        You can add their recent golf scores
      </h5>
      <img src="http://placecage.com/200/200" alt="" class="site-features-gif">
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        You can add your local course to save in the system
      </h5>
      <img src="http://placecage.com/200/200" alt="" class="site-features-gif">
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        Once enough scores have been created, you can view your history and the app will calculate your handicap for you!
      </h5>
      <img src="http://placecage.com/200/200" alt="" class="site-features-gif">
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        You can search for a friend and comment on their recent scores to give them some words of encouragement
      </h5>
      <img src="http://placecage.com/200/200" alt="" class="site-features-gif">
    </li>
  </ul>
</div>

{{outlet}}
