<div class="container">
  <h4 class="guest-home-container-title">
    Login or Register above to start tracking your stats!
  </h4>
  <ul class="site-features">
    <li class="site-features-item">
      <h5 class="site-features-title">
        Add your recent golf scores
      </h5>
      <div class="gif-container">
        <img src="gifs/add-score.gif" alt="" class="site-features-gif">
      </div>
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        Add your local course
      </h5>
      <div class="gif-container">
        <img src="gifs/add-course.gif" alt="" class="site-features-gif">
      </div>
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        Once you have enough scores, you are given a handicap!
      </h5>
      <div class="gif-container">
        <img src="gifs/handicap-change.gif" alt="" class="site-features-gif">
      </div>
    </li>
    <li class="site-features-item">
      <h5 class="site-features-title">
        You can search for a friend and give them a few words of encouragement
      </h5>
      <div class="gif-container">
        <img src="gifs/comment1.gif" alt="" class="site-features-gif">
      </div>
    </li>
  </ul>
</div>

{{outlet}}
